#divChart {
    display: block;
    width: 60vw;
    height: 30vh;
}
.chart-page-filter {
    display: flex;
    flex-wrap: wrap;
}
.item-filter {
    flex: 20%;
}
.button-row {
    margin-top: 10px;
}
.form-class {
    flex: 100%;
    display: flex;
}
.item-filter-form {
    flex: 20%;
}
.error-class {
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-one {
  margin-top: 2rem;
  font-weight: bolder;
  font-size: 3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.spinner-class {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30%;
}